<body>
	

	<h1> Great Green Golf </h1>

	                <hr>
                <ul>
                    {{#each playertogame}} 
                    <li>
                        {{this.name}}

                    </li>
                     {{/each}}
                </ul>




</body>