<!DOCTYPE <html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Players Table</title>
    </head>
    <body>
        <div class = "page-wrap">
            <h1>Players Table</h1>
            <div id = "pets-container"></div>
        </div>
        <script>
            console.log(dbPlayer);
            </script>
        <script
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
        <!-- <script src="main.js"></script> -->
    </body>
</html>