* {
    box-sizing: border-box;
    margin: 0 auto;
}

body {
    font-family: 'Lato', sans-serif;
	background-image: url("../images/grass.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 75% 85%;
}

h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 3.7em;
    margin-bottom: 30px;
    text-align: center;
    padding: 0.75em;
    margin-top: -3px;
}

table {
    background-color: rgba(249, 252, 244, 0.9);
}

.modal-body {
	padding: 0;
	border-radius: 0;
}

.modal-content {
	border-radius: 0;
}

.panel-heading {
	padding: 0;
    border-radius: 0;
}



.modal-input-group {
	margin-bottom: 10px;
}

.input-group-addon {
    background: none;
    background-color: #f9fcf4;
    border: 1px solid #cbcec8;
    border-radius: 0;
}


.glyphicon-ok {
    font-size: 11px;
}


.panel-title {
    padding: 0.5em;
    background: none;
    background-color: rgba(249, 252, 244, 0.9);
    font-family: 'Oswald', sans-serif;
    font-size: 1.4em;
}

.score-panels {
    border: none;
    background: none;
    background-color: rgba(249, 252, 244, 0.8);
}

.score-entry-panel {
    width: 75%;
}

.stroke-input {
    width: 15%;
}

.score-btn {
    background: none;
    border: 1px solid #cbcec8;
}

.submit-scores-btn {
    background: none;
    border: 1px solid #cbcec8;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
    background-color: #fbfcea;
}

.course-header {
    font-size: 2.3em;
    padding: 0em;
    margin-bottom: 10px;
}

.btn-block {
    height: 3em;
    margin-bottom: 2em;
    border: none;
    border-radius: 0;
    background: none;
    background-color: #f9fcf4;
}

.btn-modal {
	border: none;
	border-radius: 0;
	background: none;
	background-color: #f9fcf4;
}


/* Media Queries */

@media screen and (max-width: 768px) {

    body {
        background-position: 75% 85%;
    }

    .container {
        width: 100%;
        max-width: 768px;
        margin: 0 auto;
    }

    .score-entry-panel {
        width: 75%;
    }
}

@media screen and (max-width: 667px) {

    body {
        background-position: 75% 85%;
    }

    .score-entry-panel {
        width: 100%;
    }

    #button-create,
    #button-join,
    #button-login {
        width: 75%;
        margin-left: 13%;
    }
}